head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', href='app.css')
  
body(ng-app='SocketChat')
  script(src='app.js')

  div(ng-controller='ChatController', class='container well')
    .login(, ng-hide='hasUserName')
      h1 You need to log in
      form
        label(for='userName') User Name
        input(id='userName', class='form-control', ng-model='userName')
        button(class='btn btn-success form-control', ng-click='setUserName()') Log In
    .message-board(ng-show='hasUserName')
      form
        input(class='form-control', type='text', ng-model='chatInput')
        button(class='btn btn-success form-control', ng-click='sendChat()') Send Message
        ul
          li(ng-repeat='message in messages | orderBy:"date":true')
            span {{message.userName}}: {{message.text}}

